img{
	width:40%;
}

body {
	background-color:#EBE9E8;
}

form {

	background-color: #FFEFE5;
}

.title{
	background-color: #E88F64;
	text-align: center;
	font-style: inherit;
}
.meanStack{
	background-color: #E88F64;
	text-align: center;
	font-style: inherit;


}
.container{
	background-color: #FFDEC9;
}

.panel-body{

	background-color: #FFFDFA;
}










